<!DOCTYPE html>
<html>
{% load static %}
<title>Portofolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('https://image.ibb.co/cOUSjz/S_56295468_cut.jpg');
    min-height: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1{
        background-attachment: scroll;
        min-height: 400px;
    }
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'portofolio' %}" class="w3-bar-item w3-button">HOME</a>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>

  </div>
</div>

<!-- CONTACT -->
<div class="w3-content w3-container w3-padding-64" id="contact" style="color:black">
  <h3 class="w3-left">Contact Me</h3>

  <br><br>
  <div class="container">
  <form action="/action_page.php">
      <br><br>
    <label for="fname" style="padding-right:25px">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." style="padding:5px">
    <br><br>
    <label for="date" style="padding-right:32px">Date</label>
    <input type="date" id="date" name="date">
    <br><br>
    <label for="email" style="padding-right:29px">Email</label>
    <input type="email" id="email" name="email">

    <br><br>
    <label for="country" style="padding-right:10px">Country</label>
    <select id="country" name="country">
      <option value="Indonesia">Indonesia</option>
      <option value="Wakanda">Wakanda</option>
      <option value="Asgard">Asgard</option>
    </select>
    <br><br>

    <label for="subject" style="padding-right:10px">Subject</label>
    <br>
    <textarea id="subject" name="subject" placeholder="Write something.." maxlength="50" style="rows:1; width:300px; padding-left:20px"></textarea>
    <br><br>
    <label for="message" style="padding-right:10px">Message</label>
    <br>
    <textarea id="message" name="message" placeholder="Write something.." style="height:100px; width:300px; padding-left:20px"></textarea>
    <br><br>
    <input type="submit" value="Submit" style="padding-right:10px">
  </form>
</div>

<br><br><br><br><br>
  <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-large w3-center" >
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Jakarta, Indonesia<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +62 857 1957 0100<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: alif.mahardhika@ui.ac.id<br>
    </div>
</div>
<div class="w3-xlarge w3-section" style="text-align:center">
  <a href="https://www.facebook.com/alif.mahardhika" style="text-decoration:none;">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
  </a>
  <a href= "https://instagram.com/alifmahardhika" style="text-decoration:none;">
    <i class="fa fa-instagram w3-hover-opacity"></i>
  </a>
  <a href= "https://linkedin.com/in/alif-mahardhika-431808156/" style="text-decoration:none;">
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </a>

</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
