<!DOCTYPE html>
<html>

{% load static %}
<title>Portofolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('https://image.ibb.co/cOUSjz/S_56295468_cut.jpg');
    min-height: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1{
        background-attachment: scroll;
        min-height: 400px;
    }
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'portofolio' %}" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="{% url 'guestBook' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="{% url 'guestBook' %}" class="w3-bar-item w3-button">CONTACT</a>

  </div>
</div>

<!-- COVER -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"
    style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black">I AM ALIF<span class="w3-hide-small">MAHARDHIKA </span>
  </div>
</div>

<!-- ABOUT -->
<div class="w3-content w3-container w3-padding-64" id="about" style="color:black">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>I'm a Computer Science Student, who's passion is music.</em></p>
  <p>I have a huge passion in music. I was five years old when I started studying music. To think that I started Elementary
  School at 6 years old, I guess it's fair to say that for me, music comes first, even before formal education. It was later when I reached 17 years of age,
  that I was forced to choose where to study after high school. Of course musical studies comes first in mind for me, along with psychological and philosophical studies
  , as those are what I'm most interested about. But I guess in today's society, it is more important to try be what the future society wants, rather than
  being happy and comfortable for yourself now.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Who? Me?</b></p><br>
      <img src="https://image.ibb.co/mGpS0K/profpict.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- GENERAL -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p><br><br><br><br><br><br>
      Name    : Alif Mahardhika
      <br></br>
      Age     : 18 Years Old
      <br></br>
      NPM     : 1706021934
      <br></br>
      Hobby   : Playing Music
      <br><br><br>
      ps      : I'm a decent programmer so here is a pictureof me playing guitar.
  </p>
    </div>
</div>

  <p class="w3-large w3-center w3-padding-16">Things I'm good at</p>
  <p class="w3-wide"><i class="fa fa-music"></i>Music</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-center" style="width:90%; background-image:linear-gradient(to right, #f6f6e9, #be3737)">90%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-search"></i>Analysis</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-center" style="width:95%; background-image:linear-gradient(to right, #f6f6e9, #be3737)">95%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-comment"></i>Communication</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-center" style="width:85%; background-image:linear-gradient(to right, #f6f6e9, #be3737)">85%</div>
  </div>
</div>

<div class="w3-row w3-center w3-padding-16" style="color:black; background-image:linear-gradient(to right, #f6f6e9, #be3737)">
  <h2>Education History</h2><br>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Elementary</span><br>
    Sekolah Alam Indonesia
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Junior High</span><br>
    SMPI Dian Didaktika
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Senior High</span><br>
    SMAN 1 Depok
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">University</span><br>
    Fakultas Ilmu Komputer, Universitas Indonesia
  </div>
</div>

<!-- EXPERIENCE -->
<div class="w3-content w3-container w3-padding-64" id="portfolio" style="color:black">
  <h3 class="w3-center">Organisational Experiences</h3>
  <p class="w3-center">Here are some of my latest experiences.<br> Click on the images to open their website</p><br>

  <!-- exps -->
  <div class="w3-row" style="padding-left:15vw">

    <div class="w3-col m3">
        <a href="https://bem.cs.ui.ac.id">
      <img src="https://image.ibb.co/cKPA4z/download_3.png" style="width:100%" class="w3-hover-opacity" alt="BEM Fasilkom 2018">
        </a>
      <p><br>Staff of Art and Culture Division of BEM Fasilkom 2018 <br></p>
    </div>

    <div class="w3-col m3">
        <a href="http://cgtfasilkom.com/">
      <img src="https://image.ibb.co/ivfNHK/download_3.jpg" style="width:100%" class="w3-hover-opacity" alt="25th Computer Get Together">
        </a>
      <p><br>Staff of Event Division<br></p>
    </div>

    <div class="w3-col m3">
        <a href= "https://compfest.web.id">
      <img src="https://image.ibb.co/iPmjWe/download_2.jpg" style="width:100%" class="w3-hover-opacity" alt="Compfest X">
        </a>
      <p><br>Staff of Offline Marketing Division<br><br><br><br><br></p>
    </div>
</div>



<!-- CONTACT -->
<div class="w3-content w3-container w3-padding-64" id="contact" style="color:black">
  <h3 class="w3-center">Reach Me Here</h3>
</div>
  <div class="w3-row w3-center w3-section">
      <div class="w3-large w3-center" >
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Jakarta, Indonesia<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +62 857 1957 0100<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: alif.mahardhika@ui.ac.id<br>

        <div class="w3-xlarge w3-section">
          <a href="https://www.facebook.com/alif.mahardhika" style="text-decoration:none;">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
          </a>
          <a href= "https://instagram.com/alifmahardhika" style="text-decoration:none;">
            <i class="fa fa-instagram w3-hover-opacity"></i>
          </a>
          <a href= "https://linkedin.com/in/alif-mahardhika-431808156/" style="text-decoration:none;">
            <i class="fa fa-linkedin w3-hover-opacity"></i>
          </a>
          <br>
          <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Back to top</a>
        </div>

        <a href="{% url 'agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Agenda</a>
					<a href="{% url 'create_agenda' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Create Agenda</a>
    </div>
</div>





<script>
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
